
/* Wispi Popup */

/* SHARE A WISP MODAL POPUP */
dialog.wispi-popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 520px;
  max-height: 85vh;
  overflow: auto;
  border-radius: 10px;

  border: 1px solid #888;
  border-radius: 10px;
}


.wispi-popup-grid-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: 10px;

  width: 100%;
  height: 100%;
  background-color: #fefefe;
}

/* LEFT COLUMN: TEXT AREA */

.wispi-popup-text-area {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  height: 100%;

  overflow-y: scroll;
}

.wispi-post-content textarea {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px; 
  border: none;
  resize: none;
  font-size: 20px;
  font-family: "Crimson Pro";
  color: #473e36;
}

.wispi-post-content textarea::placeholder {
  font-size: 30px;
  font-family: "Crimson Pro";
  color: #7c6d5f;
}

/* RIGHT COLUMN: SUBMISSION AREA */

.wispi-popup-submission-area {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.2fr 1fr 1fr auto;
  gap: 10px;
  height: 100%;

  background-color: #d7d0cb;
}

.close-button {
  display: flex;
  justify-content: right;
  color: #aaaaaa;

  margin-right: 10px;
  font-size: 32px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.wispi-popup-source {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: "Crimson Pro";
  margin: 0 10px;
}

.wispi-popup-source h4 {
  font-size: 16px;
  color: #3c332a;
  margin-bottom: 2px;
}

.wispi-source-input {
  display: flex;
  align-items: center;
  font-family: "Crimson Pro";
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #574e45;
}

.wispi-source-input::placeholder {
  color: #8E8071;

}

.line {
  display: flex;

  width: 100%;
  height: 1px;
  margin: 2px 0;

  border: 1px solid #b09f8f;
}

.wispi-popup-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;

  padding: 5px 10px;
}

.wispi-post-submit-btn {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;

  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  background-color: hsla(29, 18%, 33%, 1);
  color: hsla(30, 14%, 89%, 1);
}

.wispi-post-content textarea:focus,
.wispi-source-input:focus {
  outline: none;
}



/* Wispi Box */
.wispi-box {
  display: grid;
  grid-template-rows: 1fr auto min-content;

  width: 550px;
  max-width: 550px;
  height: -moz-fit-content;
  height: fit-content;

  border: 1px solid #c6bfb9;
  border-radius: 10px;

  background-color: #edebe9;

  font-family: "Crimson Pro";
}

.wispi-box-first-row {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.user-info {
  display: grid;
  grid-template-columns: auto auto;

  gap: 5px;
  padding: 4px;
  background-color: #d7d0cb;
  color: #473e30;

  width: -moz-fit-content;
  width: fit-content;
  height: fit-content;
  height: -moz-fit-content;

  border-radius: 10px 0px 5px 0px;
}

.profile-pic {
  margin-left: 4px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: contain;
  background: #ada1a1;
}

.wispi-username {
  display: flex;
  align-items: center;
  margin-right: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #473e30;
}

.wispi-username a {
  color: inherit;
  text-decoration: none;
}

.wispi-time {
  background-color: #d7d0cb;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 4px;
  margin: 5px;
  font-size: 12px;
}

.wispi-content {
  display: grid;
  grid-template-rows: auto auto;

  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 200px;
  overflow-y: scroll;

  margin-top: 5px;
  padding: 5px 20px 5px 20px;
  gap: 8px;

  color: #322e26;
}

.wispi {
  text-align: left;
}

.wispi-source-container {
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
  margin-bottom: 5px;
  padding: 2px;

  max-width: 200px;
  max-height: 40px;

  background-color: #d7d0cb;
  border-color: #bfbcba;
  border-radius: 7px;

  overflow-y: scroll;
  scrollbar-width: none;
}

.wispi-source {
  font-size: 12px;
  text-align: left;
  font-style: italic;
  font-weight: 500;
  color: #3c332a;
  padding: 0 2px;
}

.wispi-actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #d7d0cb;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  padding: 2px 0;
}

.wispi-action-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: 10px;
  padding: 0 5px;
}

.wispi-action-icons button {
  width: 16px;
  height: 19px;
  margin-top: 1px;
  background: none;
  border: none;
}


.like-button svg path {
  fill: none;
}

.like-button svg:hover path {
  fill: #716355;
}

.liked svg path {
  fill: #645445;
}

.bookmark-button svg:hover path {
  fill: #716355;
}

.bookmarked svg path {
  fill: #645445;
}