/* CSS for Modal */
dialog.wispi-post-popup {
  grid-column: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 520px;
  max-height: 85vh;
  overflow: auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.807);

  border: 1px solid #888;
  border-radius: 10px;
}

.wispi-popup-grid-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: 10px;

  width: 100%;
  height: 100%;
  background-color: #fefefe;
}

/* LEFT COLUMN: TEXT AREA */

.wispi-popup-text-area {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  height: 100%;

  overflow-y: scroll;
}

.wispi-post-content textarea {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px; 
  border: none;
  resize: none;
  font-size: 20px;
  font-family: "Crimson Pro";
  color: #473e36;
}

.wispi-post-content textarea::placeholder {
  font-size: 30px;
  font-family: "Crimson Pro";
  color: #7c6d5f;
}

/* RIGHT COLUMN: SUBMISSION AREA */

.wispi-popup-submission-area {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.2fr 1fr 1fr auto;
  gap: 10px;
  height: 100%;

  background-color: #d7d0cb;
}

.close-button {
  display: flex;
  justify-content: right;
  color: #aaaaaa;

  margin-right: 10px;
  font-size: 32px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.wispi-popup-source {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: "Crimson Pro";
  margin: 0 10px;
}

.wispi-popup-source h4 {
  font-size: 16px;
  color: #3c332a;
  margin-bottom: 2px;
}

.wispi-source-input {
  display: flex;
  align-items: center;
  font-family: "Crimson Pro";
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #574e45;
}

.wispi-source-input::placeholder {
  color: #8E8071;

}

.line {
  display: flex;

  width: 100%;
  height: 1px;
  margin: 2px 0;

  border: 1px solid #b09f8f;
}

.wispi-popup-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;

  padding: 5px 10px;
}

.wispi-post-submit-btn {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;

  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  background-color: hsla(29, 18%, 33%, 1);
  color: hsla(30, 14%, 89%, 1);
}

.wispi-post-content textarea:focus,
.wispi-source-input:focus {
  outline: none;
}
