/* Wispi Box */
.wispi-box {
  display: grid;
  grid-template-rows: 1fr auto auto;

  width: 550px;
  max-width: 550px;
  height: -moz-fit-content;
  height: fit-content;

  border: 1px solid #c6bfb9;
  border-radius: 10px;

  background-color: #edebe9;

  font-family: "Crimson Pro";
}

.wispi-box-first-row {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.user-info {
  display: grid;
  grid-template-columns: auto auto;

  gap: 5px;
  padding: 4px;
  background-color: #d7d0cb;
  color: #473e30;

  width: -moz-fit-content;
  width: fit-content;
  height: fit-content;
  height: -moz-fit-content;

  border-radius: 10px 0px 5px 0px;
}

.profile-pic {
  margin-left: 4px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: contain;
  background: #ada1a1;
}

.wispi-username {
  display: flex;
  align-items: center;
  margin-right: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #473e30;
}

.wispi-time {
  background-color: #d7d0cb;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 4px;
  margin: 5px;
  font-size: 12px;
}

.wispi-content {
  display: grid;
  grid-template-rows: auto auto;

  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 200px;
  overflow-y: scroll;

  margin-top: 5px;
  padding: 5px 20px 5px 20px;
  gap: 8px;
}

.wispi {
  text-align: left;
}

.wispi-source-container {
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
  margin-bottom: 5px;
  padding: 2px;

  max-width: 200px;
  max-height: 40px;

  background-color: #d7d0cb;
  border-color: #bfbcba;
  border-radius: 7px;

  overflow-y: scroll;
  scrollbar-width: none;
}

.wispi-source {
  font-size: 12px;
  text-align: left;
  font-style: italic;
  font-weight: 500;
  color: #3c332a;
  padding: 0 2px;
}

.wispi-actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #d7d0cb;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  padding: 2px 0;
}

.wispi-action-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: 10px;
  padding: 0 5px;
}

.like-button {
  width: 16px;
  height: 16px;
}

.repost-button {
  width: 18px;
  height: 18px;
}
